/* public/css/style.css */

/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Título */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Barra de búsqueda */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

/* Enlace de crear usuario */
.nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #0056b3;
}

/* Estilos para la lista de usuarios */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botones de acción (editar, eliminar) */
li a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #0056b3;
}

/* Botones de editar y eliminar */
button {
    background-color: #ff4136;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d72d1c;
}
